body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

button.next1 {
  position: absolute;
  left: 330px;
  bottom: 15px;
  z-index: 10;
}

button.next2 {
  position: absolute;
  left: 330px;
  bottom: 15px;
  z-index: 20;
}

button.next3 {
  position: absolute;
  left: 330px;
  bottom: 15px;
  z-index: 30;
}

button.next4 {
  position: absolute;
  left: 330px;
  bottom: 15px;
  z-index: 40;
}

button.previous1 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 10;
}

button.previous2 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 20;
}

button.previous3 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 30;
}

button.previous4 {
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 40;
}
